[user]
	email = lukalazarevic00@gmail.com
	name = Luka Lazarević
[diff]
	tool = nvimdiff
[core]
	autocrlf = input
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[pull]
	rebase = false
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
